nav{
margin-top: 20px;
display: flex;
background-color: black;
min-height: 60px;
line-height: 60px;
display: flex;
justify-content: flex-end;

}
a{
    margin-left: 25px;
    margin-right: 25px;
    text-decoration:none;
    align-items: flex-end;
    color:rgba(245, 245, 245, 0.812);
    font-size: 18px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    // background-color: rgb(67, 93, 93);
}

.mainContent{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    
}